h1 {
  font-size: 40px;
  text-align: center;
}

body {
  text-align: center;
}

.centered-image {
  margin: auto;
  width: 30%;
  height: auto;
  display: block;
}

#complete {
  background-color: white;
  font-size: 15px;
  border: 2px solid black;
}

#result {
  display: none;
}
